<mat-card class="form-card">
  <mat-card-title>
    <div class="card-title-logo">
      <svg>
        <use href="/assets/svg/twitter_logo.svg#twitter_logo"/>
      </svg>
    </div>
    <div class="card-title-text">
      <h1>{{loginFormStrings.header}}</h1>
    </div>
  </mat-card-title>

  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div *ngIf="invalidLogin" class="input-container">
        <div class="error-input">
          <div class="error-input-text">
            {{loginFormStrings.errorMessage}}
          </div>
        </div>
      </div>

      <div class="input-container">
        <mat-form-field class="form-field">
          <mat-label>{{loginFormStrings.loginLabel}}</mat-label>
          <input type="text" id="username" name="username" ngModel required matInput>
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field class="form-field">
          <mat-label>{{loginFormStrings.passwordLabel}}</mat-label>
          <input type="password" id="password" name="password" ngModel required matInput>
        </mat-form-field>
      </div>
      <div class="input-container">
        <button type="submit" mat-flat-button class="flat-circle-button circle-button" color="primary"
          [disabled]="!loginForm.valid">
          {{loginFormStrings.submitButton}}
        </button>
      </div>

      <div class="input-container">
        <span class="link-container">
          <a routerLink="./" class="link link-blue">{{loginFormStrings.forgotLink}}</a>
          ·
          <a routerLink="../signup" class="link link-blue">{{loginFormStrings.signupLink}}</a>
        </span>
      </div>
    </form>
  </mat-card-content>

</mat-card>