@import '~@angular/material/theming'
@import '../../_colors'

.header-container
    height: 53px
    padding: 0 16px
    display: flex
    position: sticky
    top: 0
    flex-direction: row
    align-items: center
    border-bottom: 1px solid $gray-2
    background-color: white
    z-index: 2
    .left-button-item, .right-button-item
        width: 56px
        .circle-button
            margin-left: -5px
    .center-item
        width: auto
        flex-grow: 1
        display: flex
        flex-direction: column
        .profile-name
            line-height: 24px
            font-size: 20px
            font-weight: 700
            letter-spacing: 0.02em
            a:hover
                text-decoration: none
        .tweets-amount
            color: $gray-7
            font-size: 13px

.profile-container
    display: flex
    flex-direction: column
    .profile-background
        height: 200px
        background-color: $gray-5
    .profile-card
        margin-bottom: 16px
        padding: 12px 16px 0
        display: flex
        flex-direction: column
        .profile-control
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: space-between
            .profile-image
                min-width: 48px
                width: 25%
                margin: -18% 0 -4px -4px
                .image-container
                    border-radius: 9999px
                    border: 4px solid white
                    img
                        border-radius: 9999px
                        display: block
                        width: 100%
                        transition: filter 0.2s
                    img:hover
                        filter: brightness(90%)
            .buttons
                display: flex
                flex-direction: row
                flex-wrap: wrap
                .ng-star-inserted
                    display: flex
                    flex-direction: row
                    flex-wrap: wrap
                .button-container > button
                    margin: 0 8px 12px 0
                .button-container .text-button
                    margin-right: 0
                    .circle-button-container
                        padding: 0 16px 
                        .button-text
                            padding: 0
        .profile-name
            margin: 4px 0 12px
            .text
                line-height: 24px
                font-size: 20px
                font-weight: 800
                letter-spacing: 0.02em
        .profile-description
            font-size: 15px
            margin-bottom: 12px
        .profile-follows
            font-size: 15px
            .following
                margin-right: 20px
            span:first-child
                color: black
            span:last-child
                color: $gray-7

.profile-tabs 
    ::ng-deep .mat-tab-header
        border-bottom: 1px solid $gray-2
        ::ng-deep .mat-tab-label
            height: 53px
            width: 25%
            min-width: unset
            opacity: 1
            ::ng-deep .mat-tab-label-content
                font-size: 15px
                font-weight: 500
                color: $gray-7 
        ::ng-deep .mat-tab-label:hover
            background-color: $gray-4
        ::ng-deep .mat-tab-label-active .mat-tab-label-content
            font-weight: 700
            color: black
        ::ng-deep .mat-ink-bar
            height: 4px
            border-radius: 2px 
