<div class="main-container" id="top">
    <div class="header-container">
        <div class="header-item left-button-item">
            <a routerLink="../home" class="circle-button circle-button-s">
                <div class="circle-button-container">
                    <svg>
                        <use href="/assets/svg/arrow_left_icon.svg#arrow_left_icon" />
                    </svg>
                </div>
            </a>
        </div>
        <div class="header-item center-item">
            <div class="profile-name">
                <a class="link link-black" (click)="scrollTo('#top')" routerLink="./">
                    {{profile?.profileName}}
                </a>
            </div>
            <div class="tweets-amount">
                {{profile?.postsAmount}} {{profileStrings.tweets}}
            </div>
        </div>
        <div class="header-item right-button-item">
        </div>
    </div>

    <div class="profile-container">
        <div class="profile-background">
        </div>
        <div class="profile-card">
            <div class="profile-control">
                <div class="profile-image">
                    <div class="image-container">
                        <img src="{{profile?.profilePicturePath}}"
                            onerror="this.src='/assets/img/default_profile_img.png'" />
                    </div>
                </div>
                <div class="buttons">
                    <div *ngIf="isAuthenticated">
                        <div *ngIf="!isCurrentProfileOwner; else currentProfileOwnerBlock">
                            <div class="button-container">
                                <button class="circle-button circle-button-s circle-button-border">
                                    <div class="circle-button-container">
                                        <svg>
                                            <use href="/assets/svg/navigation_buttons_icons.svg#dots_icon" />
                                        </svg>
                                    </div>
                                </button>
                            </div>
                            <div class="button-container">
                                <button class="circle-button circle-button-s circle-button-border">
                                    <div class="circle-button-container">
                                        <svg>
                                            <use href="/assets/svg/navigation_buttons_icons.svg#messages_icon" />
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <ng-template #currentProfileOwnerBlock>
                            <div>
                                <div class="button-container">
                                    <button mat-flat-button
                                        class="circle-button circle-button-s circle-button-border text-button">
                                        <div class="circle-button-container">
                                            <span class="button-text">
                                                {{profileStrings.card.setUp}}
                                            </span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                    <div *ngIf="!isCurrentProfileOwner">
                        <div *ngIf="isFollowing; else notFollowing">
                            <div class="button-container">
                                <button (click)="unfollow(profile.id)" mat-flat-button
                                    class="circle-button circle-button-s circle-button-border text-button circle-button-negative">
                                    <div class="circle-button-container">
                                        <span class="button-text">
                                            <div class="onhover-hide">
                                                {{profileStrings.card.following}}
                                            </div>
                                            <div class="onhover-display">
                                                {{profileStrings.card.unfollow}}
                                            </div>
                                        </span>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <ng-template #notFollowing>
                            <div class="button-container">
                                <button (click)="follow(profile.id)" mat-flat-button
                                    class="circle-button circle-button-s circle-button-black text-button">
                                    <div class="circle-button-container">
                                        <span class="button-text">
                                            {{profileStrings.card.follow}}
                                        </span>
                                    </div>
                                </button>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="profile-name">
                <span class="text">{{profile?.profileName}}</span>
            </div>
            <div class="profile-description">
                {{profile?.profileDescription}}
            </div>
            <div class="profile-follows">
                <span class="following">
                    <a routerLink="./" class="link link-gray">
                        <!-- TODO: add link to page with list of followings -->
                        <span><b>{{profile?.followingsAmount}}</b></span>
                        <span> {{profileStrings.card.following}}</span>
                    </a>
                </span>
                <span class="followers">
                    <a routerLink="./" class="link link-gray">
                        <!-- TODO: add link to page with list of followers -->
                        <span><b>{{profile?.followersAmount}}</b></span>
                        <span> {{profileStrings.card.followers}}</span>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <mat-tab-group class="profile-tabs">
        <mat-tab label="{{profileStrings.tabLabels.tweets}}">
            <div *ngIf="profileIds != undefined && profileIds.length != 0">
                <app-feed-scroll [profileIds]="profileIds"></app-feed-scroll>
            </div>
        </mat-tab>
        <mat-tab label="{{profileStrings.tabLabels.tweetsAndReplies}}"> {{profileStrings.tabLabels.tweetsAndReplies}}
        </mat-tab>
        <!-- TODO: add feed with replies and posts -->
        <mat-tab label="{{profileStrings.tabLabels.media}}"> {{profileStrings.tabLabels.media}} </mat-tab>
        <!-- TODO: add feed with media posts -->
        <mat-tab label="{{profileStrings.tabLabels.likes}}"> {{profileStrings.tabLabels.likes}} </mat-tab>
        <!-- TODO: add feed with liked posts -->
    </mat-tab-group>
</div>