<div class="main-container">
    <div class="header-container">
        <div class="header-item left-button-item">
            <button class="circle-button circle-button-s">
                <div class="circle-button-container">
                    <svg viewBox="0 0 24 24" width="20" height="20">
                        <path
                            d="M 20 11 H 7.414 l 4.293 -4.293 c 0.39 -0.39 0.39 -1.023 0 -1.414 s -1.023 -0.39 -1.414 0 l -6 6 c -0.39 0.39 -0.39 1.023 0 1.414 l 6 6 c 0.195 0.195 0.45 0.293 0.707 0.293 s 0.512 -0.098 0.707 -0.293 c 0.39 -0.39 0.39 -1.023 0 -1.414 L 7.414 13 H 20 c 0.553 0 1 -0.447 1 -1 s -0.447 -1 -1 -1 Z">
                        </path>
                    </svg>
                </div>
            </button>
        </div>
        <div class="header-item center-item">
            <div class="profile-name">
                {{profile?.profileName}}
            </div>
            <div class="tweets-amount">
                {{profile?.postsAmount}} tweets
            </div>
        </div>
        <div class="header-item right-button-item">
        </div>
    </div>

    <div class="profile-container">
        <div class="profile-background">
        </div>
        <div class="profile-card">
            <div class="profile-control">
                <div class="profile-image">
                    <div class="image-container">
                        <!-- TODO: display profile picture -->
                        <img src="/img.png" onerror="this.src='/assets/img/default_profile_img.png'" />
                    </div>
                </div>
                <div class="buttons">
                    <div>
                        <button class="circle-button circle-button-s circle-button-border">
                            <div class="circle-button-container">
                                <svg viewBox="0 0 24 24" width="20" height="20">
                                    <g>
                                        <circle cx="5" cy="12" r="2"></circle>
                                        <circle cx="12" cy="12" r="2"></circle>
                                        <circle cx="19" cy="12" r="2"></circle>
                                    </g>
                                </svg>
                            </div>
                        </button>
                    </div>
                    <div>
                        <button mat-flat-button class="circle-button circle-button-s circle-button-black">
                            <div class="circle-button-container">
                                <span class="button-text">
                                    Follow
                                </span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="profile-name">
                <span class="text">{{profile?.profileName}}</span>
            </div>
            <div class="profile-description">
                {{profile?.profileDescription}}
            </div>
            <div class="profile-follows">
                <span class="following">
                    <a routerLink="./" class="link">
                        <span><b>{{profile?.followingsAmount}}</b></span>
                        <span> Following</span>
                    </a>
                </span>
                <span class="followers">
                    <a routerLink="./" class="link">
                        <span><b>{{profile?.followersAmount}}</b></span>
                        <span> Followers</span>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <mat-tab-group class="tabs">
        <mat-tab label="Tweets">
            <div *ngIf="profileIds != undefined && profileIds.length != 0">
                <app-feed-scroll [profileIds]="profileIds"></app-feed-scroll>
            </div>
        </mat-tab> <!-- TODO: add feed with posts -->
        <mat-tab label="Tweets & replies"> Tweets & replies </mat-tab>
        <mat-tab label="Media"> Media </mat-tab>
        <mat-tab label="Likes"> Likes </mat-tab>
    </mat-tab-group>
</div>