<div class="stepper-container">
    <div class="stepper-header">
        <div class="header-button">
            <div *ngIf="stepper.selectedIndex != 0">
                <button (click)="goBack(stepper)" class="circle-button circle-button-s">
                    <div class="circle-button-container">
                        <svg>
                            <use href="/assets/svg/arrow_left_icon.svg#arrow_left_icon" />
                        </svg>
                    </div>
                </button>
            </div>
        </div>
        <div class="header-logo">
            <div *ngIf="stepper.selectedIndex != 2">
                <svg>
                    <use href="/assets/svg/twitter_logo.svg#twitter_logo" />
                </svg>
            </div>
        </div>
        <div class="header-button">
        </div>
    </div>
    <div class="stepper-content">
        <mat-horizontal-stepper #stepper>
            <form #signupForm="ngForm">
                <mat-step>
                    <div class="step-container">
                        <div class="step-item step-header"><span>Pick up a profile name</span></div>
                        <div class="step-item step-label"><span>Choose a name, that suits your profile in the best
                                way.</span></div>
                        <div class="step-item input-container">
                            <mat-form-field class="form-field">
                                <mat-label>Profile name</mat-label>
                                <input type="text" id="profileName" name="profileName" maxlength="256" ngModel matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-step>

                <mat-step>
                    <div class="step-container">
                        <div class="step-item step-header">Describe yourself</div>
                        <div class="step-item step-label">What makes you special? Don't think too hard, just have fun
                            with
                            it.</div>
                        <div class="step-item input-container">
                            <mat-form-field class="form-field">
                                <mat-label>Your bio</mat-label>
                                <input type="text" id="description" name="description" maxlength="256" ngModel matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-step>

                <mat-step>
                    <div class="step-container final-step">
                        <div class="logo-container">
                            <svg>
                                <use href="/assets/svg/twitter_logo.svg#twitter_logo" />
                            </svg>
                        </div>
                        <div class="content-container">
                        <div class="step-item step-header">Your profile is updated</div>
                        <button type="submit" mat-flat-button
                            class="step-item circle-button circle-button-black text-button">
                            <div class="circle-button-container">
                                <span class="button-text">
                                    See profile
                                </span>
                            </div>
                        </button>
                        </div>
                    </div>
                </mat-step>
            </form>
        </mat-horizontal-stepper>
    </div>
    <div class="stepper-button">
        <div *ngIf="stepper.selectedIndex != 2">
            <div *ngIf="(signupForm.form.controls.profileName?.value.length && stepper.selectedIndex == 0) 
                || (signupForm.form.controls.description?.value.length && stepper.selectedIndex == 1); else empty">
                <button (click)="goForward(stepper)" mat-flat-button
                    class="flat-circle-button circle-button circle-button-m" color="primary">
                    Next
                </button>
            </div>
            <ng-template #empty>
                <button (click)="goForward(stepper)" class="circle-button-primary circle-button circle-button-m">
                    <div class="circle-button-container">
                        <span class="button-text">
                            Skip for now
                        </span>
                    </div>
                </button>
            </ng-template>
        </div>
    </div>
</div>