<div class="stepper-container">
    <div class="stepper-header">
        <div class="header-button">
            <button (click)="goBack(stepper)" class="circle-button circle-button-s">
                <div class="circle-button-container">
                    <svg viewBox="0 0 24 24" width="20" height="20">
                        <path
                            d="M 20 11 H 7.414 l 4.293 -4.293 c 0.39 -0.39 0.39 -1.023 0 -1.414 s -1.023 -0.39 -1.414 0 l -6 6 c -0.39 0.39 -0.39 1.023 0 1.414 l 6 6 c 0.195 0.195 0.45 0.293 0.707 0.293 s 0.512 -0.098 0.707 -0.293 c 0.39 -0.39 0.39 -1.023 0 -1.414 L 7.414 13 H 20 c 0.553 0 1 -0.447 1 -1 s -0.447 -1 -1 -1 Z">
                        </path>
                    </svg>
                </div>
            </button>
        </div>
        <div class="header-logo">
            <svg viewBox="0 0 24 24">
                <path
                    d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z">
                </path>
            </svg>
        </div>
        <div class="header-button">
        </div>
    </div>
    <div class="stepper-content">
        <mat-horizontal-stepper #stepper>
            <mat-step>
                <div class="step-container">
                    <div class="step-item step-header"><span>Pick up a profile name</span></div>
                    <div class="step-item step-label"><span>Choose a name, that suits your profile in the best
                            way.</span></div>
                    <div class="step-item input-container">
                        <mat-form-field class="form-field">
                            <mat-label>Profile name</mat-label>
                            <input type="text" id="profilename" name="profilename" ngModel matInput>
                        </mat-form-field>
                    </div>
                </div>
            </mat-step>
            <mat-step>
                <div class="step-container">
                    <div class="step-item step-header">Describe yourself</div>
                    <div class="step-item step-label">What makes you special? Don't think too hard, just have fun with it.</div>
                    <div class="step-item input-container">
                        <mat-form-field class="form-field">
                            <mat-label>Your bio</mat-label>
                            <input type="text" id="description" name="description" ngModel matInput>
                        </mat-form-field>
                    </div>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
    <div class="stepper-button">
        <button (click)="goForward(stepper)" class="circle-button-primary circle-button circle-button-m">
            <div class="circle-button-container">
                <span class="button-text">
                    next
                </span>
            </div>
        </button>
    </div>
</div>