<div class="controls-container">
    <div *ngFor="let profile of profiles" class="profiles-list">
        <a (click)="selectProfile(profile)" class="circle-button">
            <div class="circle-button-container">
                <div class="button-image">
                    <img src="" onerror="this.src='/assets/img/default_profile_img.png'" />
                </div>
                <span class="button-text">
                    <div class="names-container">
                        <div class="profile-name">{{profile?.profileName}}</div>
                        <div class="user-name">{{user?.userName}}</div>
                    </div>
                </span>
                <div class="check">
                    <div *ngIf="profile.id == selectedProfileId">
                        <svg>
                            <g>
                                <use href="/assets/svg/check_icon.svg#check_icon"/>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="control-buttons">
        <a (click)="openDialog()" class="circle-button">
            <div class="circle-button-container">
                <span class="button-text">
                    Add profile     
                </span>
            </div>
        </a>
        <a (click)="logOut()" class="circle-button">
            <div class="circle-button-container">
                <span class="button-text">
                    Log out
                </span>
            </div>
        </a>
    </div>
</div>