<div class="main-container" id="top">
  <div class="header-container">
    <div class="header-item center-item">
      <div class="profile-name">
        <a class="link link-black" routerLink="./" (click)="scrollTo('#top')">{{homeStrings.header}}</a>
      </div>
    </div>
    <div class="header-item right-button-item">
      <div class="header-item left-button-item">
        <button class="circle-button circle-button-s">
          <div class="circle-button-container">
            <svg>
              <use href="/assets/svg/stars_icon.svg#stars_icon"/>
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="profileIds != undefined && profileIds.length != 0">
    <app-feed-scroll [profileIds]="profileIds"></app-feed-scroll>
  </div>
</div>

