<div class=navigation-container>
    <div class="nav-item menu-item">
        <div class="twitter-menu-item">
            <a (click)="scrollTo('#top')" routerLink="home"  class="circle-button circle-button-primary">
                <div class="circle-button-container">
                    <svg>
                        <use href="/assets/svg/twitter_logo.svg#twitter_logo"/>
                    </svg>
                </div>
            </a>
        </div>
        <div class="nav-menu-item">     <!-- TODO: make buttons functional -->
            <nav>
                <div *ngIf="isAuthenticatedValue">
                <a (click)="scrollTo('#top')" routerLink="home" class="circle-button">
                    <div class="circle-button-container">
                        <svg>
                            <use href="/assets/svg/navigation_buttons_icons.svg#home_icon"/>
                        </svg>
                        <span class="button-text">
                            {{navButtonsStrings.home}}
                        </span>
                    </div>
                </a>
                </div>
                <a class="circle-button">
                    <div class="circle-button-container">
                        <svg>
                            <use href="/assets/svg/navigation_buttons_icons.svg#explore_icon"/>
                        </svg>
                        <span class="button-text">
                            {{navButtonsStrings.explore}}
                        </span>
                    </div>
                </a>
                <div *ngIf="isAuthenticatedValue">
                <a class="circle-button">
                    <div class="circle-button-container">
                        <svg>
                            <use href="/assets/svg/navigation_buttons_icons.svg#notifications_icon"/>
                        </svg>
                        <span class="button-text">
                            {{navButtonsStrings.notifications}}
                        </span>
                    </div>
                </a>
                <a class="circle-button">
                    <div class="circle-button-container">
                        <svg>
                            <use href="/assets/svg/navigation_buttons_icons.svg#messages_icon"/>
                        </svg>
                        <span class="button-text">
                            {{navButtonsStrings.messages}}
                        </span>
                    </div>
                </a>
                <a class="circle-button">
                    <div class="circle-button-container">
                        <svg>
                            <use href="/assets/svg/navigation_buttons_icons.svg#bookmarks_icon"/>
                        </svg>
                        <span class="button-text">
                            {{navButtonsStrings.bookmarks}}
                        </span>
                    </div>
                </a>
                <a class="circle-button">
                    <div class="circle-button-container">
                        <svg>
                            <use href="/assets/svg/navigation_buttons_icons.svg#lists_icon"/>
                        </svg>
                        <span class="button-text">
                            {{navButtonsStrings.lists}}
                        </span>
                    </div>
                </a>
                <a (click)="scrollTo('#top')" [routerLink]="['', selectedProfileName]" class="circle-button">
                    <div class="circle-button-container">
                        <svg>
                            <use href="/assets/svg/navigation_buttons_icons.svg#profile_icon"/>
                        </svg>
                        <span class="button-text">
                            {{navButtonsStrings.profile}}
                        </span>
                    </div>
                </a>
                <a class="circle-button">
                    <div class="circle-button-container">
                        <svg>
                            <use href="/assets/svg/navigation_buttons_icons.svg#more_icon"/>
                        </svg>
                        <span class="button-text">
                            {{navButtonsStrings.more}}
                        </span>
                    </div>
                </a>
                </div>
            </nav>
        </div>
        <div class="tweet-menu-item">
            <div *ngIf="isAuthenticatedValue">
                <a mat-flat-button class="flat-circle-button circle-button" color="primary">
                    <svg class="button-image">
                        <use href="/assets/svg/navigation_buttons_icons.svg#tweet_icon"/>
                    </svg>
                    <span class="button-text">
                        {{navButtonsStrings.tweet}}
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="nav-item profile-item">
        <div *ngIf="isAuthenticatedValue">
            <a class="circle-button" [matMenuTriggerFor]="menu">
                <div class="circle-button-container">
                    <div class="button-image">
                        <img src=""
                            onerror="this.src='/assets/img/default_profile_img.png'" />
                    </div>
                    <span class="button-text">
                        <div class="names-container">
                            <div class="profile-name">{{selectedProfileName}}</div>
                            <div class="user-name">{{userName}}</div>
                        </div>
                    </span>
                    <svg class="dots">
                        <use href="/assets/svg/navigation_buttons_icons.svg#dots_icon"/>
                    </svg>
                </div>
            </a>
            <mat-menu #menu="matMenu">
                <app-user-controls></app-user-controls>
            </mat-menu>
        </div>
    </div>
</div>