$blue-twitter: (
    50 : #e4f4fd,
    100 : #bbe3fb,
    200 : #8ed0f9,
    300 : #61bdf6,
    400 : #3faef4,
    500 : #1da0f2,
    600 : #1a98f0,
    700 : #158eee,
    800 : #1184ec,
    900 : #0a73e8,
    A100 : #ffffff,
    A200 : #dfedff,
    A400 : #accfff,
    A700 : #92c1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$green-twitter: (
    50 : #ecf5e3,
    100 : #cfe5b9,
    200 : #b0d48b,
    300 : #90c35d,
    400 : #78b63a,
    500 : #60a917,
    600 : #58a214,
    700 : #4e9811,
    800 : #448f0d,
    900 : #337e07,
    A100 : #c7ffad,
    A200 : #a3ff7a,
    A400 : #80ff47,
    A700 : #6fff2e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$red-twitter: (
    50 : #fce6ea,
    100 : #f8c2cb,
    200 : #f499a8,
    300 : #ef7085,
    400 : #eb516b,
    500 : #e83251,
    600 : #e52d4a,
    700 : #e22640,
    800 : #de1f37,
    900 : #d81327,
    A100 : #ffffff,
    A200 : #ffd4d8,
    A400 : #ffa1a9,
    A700 : #ff8891,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$gray-1: rgb(247, 247, 247);
$gray-2: rgb(239, 239, 239);
$gray-3: rgb(83, 100, 113);
$gray-4: rgb(239, 243, 244);
$gray-5: rgb(207, 217, 222);
$gray-6: rgb(39, 44, 48);
$gray-7: rgb(207, 208, 209);
$gray-8: rgb(231, 231, 232);



