<div class="welcome-container">
    <div class="welcome-content">
        <div class="content-container">
            <div class="logo-container">
                <svg>
                    <use href="/assets/svg/twitter_logo.svg#twitter_logo"/>
                </svg>
            </div>
            <div class="large-header-container">
                <span>{{welcomeStrings.header1}}</span>
            </div>
            <div class="header-container">
                <span>{{welcomeStrings.header2}}</span>
            </div>
            <div class="buttons-container">
                <a class="circle-button circle-button-border">
                    <div class="circle-button-container">
                        <svg>
                            <use href="/assets/svg/google_logo.svg#google_logo"/>
                        </svg>
                        <span class="button-text">
                            {{welcomeStrings.buttons.signup1}}
                        </span>
                    </div>
                </a>
                <a class="circle-button circle-button-border">
                    <div class="circle-button-container">
                        <svg>
                            <use href="/assets/svg/apple_logo.svg#apple_logo"/>
                        </svg>
                        <span class="button-text">
                            {{welcomeStrings.buttons.signup2}}
                        </span>
                    </div>
                </a>
                <a routerLink="signup" class="circle-button circle-button-border">
                    <div class="circle-button-container">
                        <span class="button-text">
                            {{welcomeStrings.buttons.signup3}}
                        </span>
                    </div>
                </a>
                <div>
                    <span>{{welcomeStrings.loginMessage}} </span>
                    <span><a routerLink="login" class="link link-blue">{{welcomeStrings.login}}</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="welcome-image">
        <div class="bg-image">
            <svg>
                <use href="/assets/svg/twitter_logo.svg#twitter_logo"/>
            </svg>
        </div>
    </div>
</div>