<div class="dialog-container">
    <div class="dialog-header">
        <div class="header-button">
            <div>
                <button (click)="closeDialog()" class="circle-button circle-button-s">
                    <div class="circle-button-container">
                        <svg>
                            <use href="/assets/svg/cross_icon.svg#cross_icon" />
                        </svg>
                    </div>
                </button>
            </div>
        </div>
    </div>

    <div class="dialog-content">
        <div class="profile-picture-container">
            <img src="{{profile?.profilePicturePath}}" onerror="this.src='/assets/img/default_profile_img.png'" />
        </div>
        <div class="tweet-content">
            <form #createTweetForm="ngForm" (ngSubmit)="createTweet(createTweetForm)"> 
                <div style="display: none;">
                    <mat-form-field class="form-field">
                        <input type="number" id="profileId" name="profileId" ngModel matInput>
                    </mat-form-field>
                </div>
                <div style="display: none;">
                    <mat-form-field class="form-field">
                        <input type="datetime-local" id="postingDate" name="postingDate" ngModel matInput>
                    </mat-form-field>
                </div>
                <div class="input-container">
                    <div class="form-textarea">
                        <textarea placeholder="What's happening?" id="postText" name="postText" maxlength="140" ngModel required></textarea>
                    </div>
                </div>
                <div class="controls-container">
                    <div class="button-container">
                        <button [disabled]="!createTweetForm.valid" type="submit" mat-flat-button class="flat-circle-button circle-button circle-button-s"
                            color="primary">
                            Tweet
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>