<div class="dialog-container" style="background-color: khaki;">
    <div class="dialog-header">
        <div class="header-button">
            <div>
                <button class="circle-button circle-button-s">
                    <div class="circle-button-container">
                        <svg>
                            <use href="/assets/svg/arrow_left_icon.svg#arrow_left_icon" />
                        </svg>
                    </div>
                </button>
            </div>
        </div>
    </div>

    <div class="dialog-content" style="background-color: lightgreen;">
        <div class="profile-picture-container">
            <img src="" onerror="this.src='/assets/img/default_profile_img.png'" />
        </div>
        <div class="tweet-content">
            <div class="input-container">

            </div>
            <div class="button-container">

            </div>
        </div>

    </div>

</div>