@import '../_colors'
@import '~@angular/material/theming'

.circle-button
    cursor: pointer
    padding: 0 
    display: block
    height: 50px
    width: fit-content
    border: none
    border-radius: 9999px 
    background-color: transparent
    color: black
    text-decoration: none
    .circle-button-container
        display: flex
        align-items: center
        justify-content: center
        height: 26px
        padding: 12px
        border-radius: 9999px
        transition: background-color 0.2s
        .button-text
            font-size: 20px
            padding: 0 12px

.circle-button.mat-flat-button
    padding: 0 
    border-radius: 9999px 

.circle-button-m
    height: 42px
    .circle-button-container
        padding: 0
        height: 42px
        border: 1px solid transparent
        .button-text
            font-weight: 700
            font-size: 15px

.circle-button-s
    height: 36px
    .circle-button-container
        padding: 0
        height: 34px
        min-width: 34px
        border: 1px solid transparent
        .button-text
            font-size: 15px

.circle-button-border
    .circle-button-container
        border: 1px solid $gray-5

.circle-button-primary
    .circle-button-container
        .button-text
            color: mat-color($blue-twitter, 500)

.circle-button-black
    .circle-button-container
        background-color: black
        .button-text
            color: white

.circle-button:hover
    .circle-button-container
        background-color: $gray-4
.circle-button-primary:hover
    .circle-button-container
        background-color: mat-color($blue-twitter, 100)
.circle-button-black:hover
    .circle-button-container
        background-color: $gray-8

.circle-button:active
    .circle-button-container
        background-color: $gray-6
.circle-button-primary:active
    .circle-button-container
        background-color: mat-color($blue-twitter, 200)
.circle-button-black:active
    .circle-button-container
        background-color: $gray-8


.flat-circle-button.mat-flat-button
    font-size: 1.2em
    transition: background-color 0.2s

a.flat-circle-button
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    min-width: unset 

.flat-circle-button:hover
    background-color: mat-color($blue-twitter, 600)

.flat-circle-button.mat-flat-button[disabled]
    background-color: mat-color($blue-twitter, 200) 
    color: white 
    

.icon-text-button
    height: 25px
    div
        margin-top: -6px
        svg
            margin-bottom: -5px
            width: 19px
            height: 19px
        .icon-text-button-icon div
            margin: 0px -8px 
            padding: 0px 8px 
            display: inline-block
            border-radius: 50%
        .icon-text-button-icon
            fill: $gray-7
            transition: fill 0.2s
        .icon-text-button-text
            font-size: 13px
            padding: 0 12px
            color: $gray-7
            transition: color 0.2s

.icon-text-button.mat-button
    padding: 0

.icon-text-button .mat-button-focus-overlay, 
.icon-text-button .mat-button-ripple,
.icon-text-button .mat-ripple
    display: none 

.icon-text-button:hover
    .icon-text-button-text
        color: mat-color($blue-twitter, 400)
    .icon-text-button-icon
        fill: mat-color($blue-twitter, 400)
    .icon-text-button-icon div
        background-color: mat-color($blue-twitter, 100)

.icon-text-button:active
    .icon-text-button-icon div
        background-color: mat-color($blue-twitter, 200)

.icon-text-button-accent:hover
    .icon-text-button-text
        color: mat-color($green-twitter, 400) 
    .icon-text-button-icon
        fill: mat-color($green-twitter, 400) 
    .icon-text-button-icon div
        background-color: mat-color($green-twitter, 100) 

.icon-text-button-accent:active
    .icon-text-button-icon div
        background-color: mat-color($green-twitter, 200) 

.icon-text-button-warn:hover
    .icon-text-button-text
        color: mat-color($red-twitter, 400) 
    .icon-text-button-icon
        fill: mat-color($red-twitter, 400) 
    .icon-text-button-icon div
        background-color: mat-color($red-twitter, 100) 

.icon-text-button-warn:active
    .icon-text-button-icon div
        background-color: mat-color($red-twitter, 200) 


.link
    text-decoration: none 
    
.link:hover
    text-decoration: underline 

.link-black
    font-weight: bold 
    color: black

.link-gray
    color: $gray-7

.link-blue
    font-size: 1.1em
    color: mat-color($blue-twitter, 500)